/EXERCICI1/nbproject/private/
/EXERCICI1/build/
/exercici2/nbproject/private/
/exercici2/build/
/EXAMENUF4_2025/nbproject/private/
/INVENTARIO_TIENDA/nbproject/private/
/INVENTARIO_TIENDA/build/
/51_A01_IpExcepcions/nbproject/private/
/51_A01_IpExcepcions/build/
